body{
	padding-top: 60px;
}

.article-remove{
	position: absolute;
	right: 3px;
	top: 3px;
	width: 15px;
	height: 15px;
	display: none;
}
.article-titles{
	margin-top: 25px;
}
.article-titles li{
	position: relative;
}
.article-titles li:hover .article-remove{
	display: block;
	cursor: pointer;
}

.article-content{
	line-height: 2em;
}

.article-content-edit{
	display: none;
}

.edit-controls{
	display: none;
}

#new-article-form{
	display: none;
}

.article-id{
	display: none;
}

.controls-bar{
	text-align: right;
}
.wysibb-text-editor{
	min-height: 200px !important;
}

.but{
	background-color: #09A509;
	text-align: center;
	border-radius: 5px;
	padding: 4px;
	color: #fff;
	cursor: pointer;
}

.but:hover{
	background-color: #0A960A;
}

.but:active{
	background-color: #097C09;
}

.wysibb .powered{
	display: none;
}
